table {
    width:100%;
}

.rol_container {
    float:left; 
    width:55%;
}

.rol_container_left {
    float:left;
}

.rol_container_right {
    float:right;
}

.asignar_rol {
    float: right;
    width:40%;
    margin-top: 24px;
}

.asignar_rol_container {
    width:55%;
}
